<div class="container-fluid">
  <div class="row flex-items-xs-center">
      <div *ngFor="let event of events" class="col-xs-4">
        <div class="card ma-3">
          <div class="card-header">
            <h4 class="card-title">{{event.title}} </h4>
            <span (click)="editEvent(event)"class="glyphicon glyphicon-pencil pull-right">Edit</span>
            <span (click)="deleteEvent(event)" class="glyphicon glyphicon-remove pull-right">Delete</span>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <p>
                <b>Start:</b> <span class="text-center">{{event.start | date: 'short'}}</span>
              </p>
            </li>
            <li class="list-group-item">
              <p>
                <b>End: </b><span *ngIf="event.end">{{ event.end | date: 'short'}}</span><span *ngIf="!event.end">N/A</span>
              </p>
            </li>
          </ul>
          <div class="card-footer">
            <p class="card-text">{{event.desc}}</p>
          </div>
        </div>
        </div>
  </div>
</div>
