{{create_new}}
      <div class="form-group">
        <label for="title">Name</label>
        <input type="text" class="form-control" required [(ngModel)]="event.title" id="title">
      </div>
      <div class="form-group">
        <label for="desc">Description</label>
        <input type="text" class="form-control" required [(ngModel)]="event.desc" id="desc">
      </div>
      <div class="form-group">
        <label for="start">Start Time</label>
        <datetime [(ngModel)]="event.start" id="start"></datetime>
      </div>
      <div class="form-group">
        <label for="end">End Time</label>
        <datetime [(ngModel)]="event.end" id="end"></datetime>
      </div>
      <button class="btn btn-default block-center" (click)="submit()">Submit</button>
