<button class="btn btn-primary block-center" (click)="lgModal.show()">Create New Event</button>
 
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center">Event</h4>
      </div>
      <div class="modal-body">
    <div class="form-group">
      <label for="title">Name</label>
      <input type="text" class="form-control" required [(ngModel)]="event.title" id="title">
    </div>
    <div class="form-group">
      <label for="desc">Description</label>
      <input type="text" class="form-control" required [(ngModel)]="event.desc" id="desc">
    </div>
    <div class="form-group">
      <label for="start">Start Time</label>
      <datetime  [(ngModel)]="event.start" id="start"></datetime>
    </div>
    <div class="form-group">
      <label for="end">End Time</label>
      <datetime [(ngModel)]="event.end" id="end"></datetime>
    </div>
    <button class="btn btn-default block-center" (click)="submit() && lgModal.hide()">Submit</button>
      </div>
    </div>
  </div>
</div>
