<div class="container">
  <div class="row">
    <h2 class="text-center">Upcoming Gigs!</h2>
  </div>
  <div *ngFor="let event of events" class="col-xs-4">
    <div class="panel panel-default ">
      <div class="panel-heading">
        <p class="panel-title text-center">
          {{event.name}}
        </p>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><b>Start:</b> {{event.start | date: 'short'}}</li>
        <li class="list-group-item"><b>End: </b>{{event.end | date: 'short'}}</li>
      </ul>
      <div class="panel-body">
        <div class="text-center">
          <div class="well">
            <p>{{event.desc}}</p>
          </div>
          <button class="btn btn-default">More</button>
        </div>
      </div>
    </div>
  </div>
</div>
