    <div class="card">
      <h1 class="text-center">Suggest A Song!</h1>
      <form>
        <div class="form-group">
          <label>Title</label>
          <input class="form-control" [(ngModel)]="suggestion_title" id="suggestion_title" type="text">
        </div>
        <div class="form-group">
          <label>Artist</label>
          <input class="form-control" [(ngModel)]="suggestion_artist" id="suggestion_artist" type="text">
        </div>
        <button class="btn btn-info" (click)=addSuggestion()>Submit</button>
      </form>
    </div>
