<div class="row">
  <div class="col-xs">
    <event-calendar></event-calendar>
  </div>
</div>
<hr>
<div class="row flex-items-xs-center">
  <div class="col-xs-6">
    <div class="card text-xs-center">
      <div class="card-header">
        <h2 class="card-title">Upcoming Gigs!</h2>
      </div>
      <div class="card-block">
        <button class="btn btn-primary btn-lrg" (click)="createNewEvent()">Create New Event</button>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <event-list [events]="events"></event-list>
</div>
